  <div class="contentsrow">
    <%= form_tag("/blogs/#{@blogs.id}", method: :patch ) do %>
      <h5>
        編集する
      </h5>
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @blogs.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>