body {
	background-color: #f0f0f0; 
	min-height: 100%;
    height: auto !important;
	height: 100%;
	position: relative;
}

h5 {
	text-align: center;
}

.contents {
	height: 500px;
	width: 100%;
	background-color: #f0f0f0;
}

.content_post {
	height: 100px;
	width: 80%;
	margin: 0 auto;
	background-color: white;
}


.more_list li {
	padding-right: 50px;
	float: left;
}

.contentsrow {
	height: 100px;
	width: 70%;
	margin: 0 auto;
}

.footer {
	/*position: fixed;
    bottom: 0;*/
    text-align: center;
    height: 50px;
    width: 100%;
}