<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <style type="text/css" href="./style.css"></style>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel="stylesheet" href="style.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<body>

	<div class="navbar-fixed">
    <nav class="#0d47a1 blue darken-4">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo center">BLOG</a>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	   
	         
	        <li><a href="blogs/new">投稿</a>
	        </li>
	        
	        <li><a href="sass.html">ログイン</a></li>
	        <li><a href="badges.html">新規登録</a></li>
	        
	      </ul>
	      
	     </div>
     </nav>
     </div>

<%= yield %>

</body>
</html>











